# Dependencies
node_modules/
server/node_modules/
client/node_modules/

# Build & Compiled Output
dist/
client/dist/
client/dist/*
/out-tsc
/.angular/cache

# Environment & Secret Files
.env
*.env
server/.env
client/src/environments/environment.ts
!client/src/environments/environment.example.ts
!server/.env.example

# Docker Configuration
docker-compose.yaml
docker-compose.yml

# IDEs & System Files
.vscode/*
client/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
.DS_Store
Thumbs.db
*.log
