<mat-toolbar class="navbar">
  <div class="navbar-brand" routerLink="/user/dashboard">
    <div class="brand-icon">
      <mat-icon>dashboard</mat-icon>
    </div>
    <span class="brand-title">Tracker Board</span>
  </div>

  <div class="spacer"></div>

  <div class="navbar-user">
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-btn">
      <span class="username">{{ username }}</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu" xPosition="before" class="user-dropdown-menu">
      <div class="user-info-header">
        <div class="user-details">
          <span class="user-display-name">{{ username }}</span>
          <span class="user-email" *ngIf="user?.email">{{ user.email }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>

      <button mat-menu-item (click)="onSettings()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>

      <mat-divider></mat-divider>

      <button mat-menu-item (click)="onLogout()" class="logout-item">
        <mat-icon color="warn">logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>